html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 2.5%;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

li {
  margin-bottom: 0.5rem;
}

@media (min-width: 630px) {
  body {
    margin: auto;
    max-width: 600px;
  }
}
