body > header {
  display: flex;
  justify-content: space-between;
}

.post-list-ul {
  padding: 0;
}

.post-list-ul li {
  list-style: none;
}

.post-list-ul time {
	font-size: 0.8em;
}

pre {
  background-color: #EEDFCD;
}

code {
  white-space: pre-wrap;
  padding: 0.5rem;
}

a:visited {
  color: initial;
}