* {
	box-sizing: border-box;
}

html {
	font-family: monospace;
	font-size: 100%;
}

body {
	margin: 1em;
}

a {
	color: blue;
	text-decoration: none;
}

li {
	list-style: none;
	padding-bottom: 0.3em;
}

li::marker {
	content: '* ';
}

time {
	color: #595959;
	font-style: italic;
}

pre {
	color: #595959;
	margin-left: 2em;
	white-space: pre-wrap;
}

header {
	display: flex;
	align-items: center;
}

nav.breadcrumbs {
}

nav.breadcrumbs ol {
	list-style: none;
}

nav.breadcrumbs li {
	display: inline-block;
	line-height: 1;
	padding-bottom: none;
}

nav.breadcrumbs li::marker {
	content: none;
}

nav.breadcrumbs li:not(:nth-last-of-type(1))::after {
	content: ' >';
}

@media screen and (width <= 600px) {
	html {
		font-size: 130%;
		line-height: 1.5;
	}
}
