* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

header[role=banner] {
	margin: auto;
	max-width: 45em;
}

header[role=banner] h1 {
	background-color: #237;
	display: inline-block;
	font-family: serif;
	font-size: 300%;
	padding: 0.5em;
}

header[role=banner] h1 a {
	color: white;
	text-decoration: none;
}

code {
	white-space: pre-wrap;
}

main {
	font-family: sans-serif;
	line-height: 1.3;
	margin: auto;
	max-width: 40em;
}

a {
	color: #237;
	text-decoration: none;
}

time {
	color: slategray;
}

pre {
	text-wrap: wrap;
	margin-left: 1em;
}